pydantic
pandas
numpy
PyPDF2
python-docx
beautifulsoup4
sentence-transformers
torch
transformers
numpy
openai
scikit-learn
pytest
python-dotenv
chromadb
groq 
aiofiles
python-multipart
fastapi
fastapi[standard]
streamlit
streamlit-extras
streamlit-chat